html {
    background-color: lavender;
    color: #07003b;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.author {
    font-size: 20px;
    font-weight: lighter;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

p {
    font-size: 18px;
    width: 800px;
    line-height: 200%;
    text-indent: 50px;
}

.cont {
    text-indent: 0px;
}

.heading {
    margin-top: 50px;
}

img {
    width: 800px;
}

.caption {
    font-size:18px;
    margin-bottom: 30px;
    margin-top: 5px;
}

ul {
    list-style: none;
}

li {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}